@import 'src/toolbar-global.scss';

.list-levels{
  display: flex;
  justify-content: center;
  
  &__title{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    color:#0c347b;
  }
  
  &__list{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}