@import 'src/toolbar-global.scss';

.list-tasks{
    display: flex;

    &__item{
        width: min-content;
        margin: 2%;
    }
}

.color-pause{    
    color: rgb(253, 144, 2);
}

.color-finished{
    color:green;
}

.padding-title{
    margin-bottom: 10px;
    margin-left: 3px;
    color:#0c347b;
    font-weight: bold;
    font-size: 20px;
}