@import 'src/toolbar-global.scss';

.square {
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 100%;
    &-general {
        width: 100vw;
        height: 100vw;
    }
}

input{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    border: 1px solid gray;
    
    &:active, &:hover, &:focus {
        outline: 0;
        outline-offset: 0;
        border: none;
    }
}

.no-border{
    border: none !important;
    background-color: red;
}

.note{
    font-size: 7px;
}

.readonly{
    background-color: rgb(219, 235, 235);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
