
//TODO: нужно делать на гридах
.square {
    border: 1px solid royalblue;
    // flex-basis: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    &-general {
        width: 100vw;
        height: 100vw;
        border: 2px solid rgb(5, 131, 33);
    }
}

ion-input{
    width: 100%;
    border: 1px solid red;
    height: 100%;
    // width: 5px;
    // height: 5px;
}

// .height{
//     height: 80%;
// }
.sc-ion-input-md-h{
    padding: 0;
}

input{
    width: 100%;
}

.note{
    border: 1ps solid rgb(255, 0, 200);
}