<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sudoku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="buttons">
    <ion-button (click)="isClue=true">
      <!-- Подсказка -->
      <ion-icon name="alert-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="isDelete=true">
      <!-- Удалить -->
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="isNote=true">
      <!-- добавить заметку -->
      A
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="isDeleteNote=true">
      <!-- удалить заметку -->
      A
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-button>
  </div>

  <form [formGroup]="form">
    <div  formArrayName="sudoky" class="square-general square">
      <div *ngFor="let arr of getFormsArray(); let i = index" formArrayName="{{i}}" class="square">
        <div *ngFor="let item of getFormsArray(arr); let j = index" [ngClass]="{'readonly': getReadonly(i,j)}" >
          <ng-container *ngIf="isControl(item)" >            
            <input  value="{{j}}" formControlName="{{j}}" (click)="clickField([i,j])" [readonly]="getReadonly(i,j)" [ngClass]="{readonly: getReadonly(i,j)}"  >
          </ng-container>
          <ng-container *ngIf="!isControl(item)">
            <div class="square no-border" >
              <ng-container *ngFor="let note of getFormsArray(item); let k = index" formArrayName="{{j}}">                
                <input  value="{{k}}" formControlName="{{k}}"  (click)="clickField([i,j,k])" class="note">
              </ng-container>
            </div>
          </ng-container>          
         </div>
      </div>
    </div>
  </form>


  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-list>
        <div *ngFor="let arr of arrayNumber">          
          <ion-item [button]="true" [detail]="false" (click)="clickButton(arr)">{{arr}}</ion-item>
        </div>        
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

</ion-content>
